@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Modak&family=Parisienne&display=swap');

body {
  background: #e5edf8;
  font-family: 'Balsamiq Sans', cursive;
  color: #030923;
}
.main {
  background: url('/static/images/im4.jpg');
  height: 91vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.navbar {
  background-color: #e29e93;
}

.landing-page {
  background: rgba(0, 0, 0, 0.4);
  height: 91vh;
  width: 100%;
  position: relative;
}
.logo {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  top: 30%;
  left: 28%;
  margin: auto;
  padding: 1rem;
}
.logo h1 {
  font-family: 'Modak', cursive;
  color: #e29e93;
}
.logo h3 {
  color: whitesmoke;
}
.logo h5 {
  font-family: 'Parisienne', cursive;
  color: whitesmoke;
}
.authenticate {
  width: 60%;
  margin: auto;
  box-shadow: -1px 2px 23px -4px rgba(0,0,0,0.75);
}
.profile-section {
  margin-top: 80px;
}
.account-img {
  height: 100px;
  width: 100px;
  margin-right: 20px;
  margin-bottom: 16px;
}
.container {
  margin-top: 10px;
}
.card {
  margin: 15px;
  box-shadow: -1px 2px 23px -4px rgba(0,0,0,0.75);
  background-color: #edbc7a;
}
.card-display {
  justify-content: space-around;
}
.card-top {
  background-color: #0384bd;
}
.card-body h3 {
  color: #02597e;
}
.nvabar-brand {
  color: #030923;
}
.join a {
  background-color: #e29e93;
}