{%extends 'hood/base.html' %}

{% block content %}
<div class="container">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Emergency Contacts</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Police Station</h3>
          <h4>Juja Police Station</h4>
          <p>Call +6364982164</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Hospital</h3>
          <h4>JKUAT Hospital</h4>
          <p>Call +7632456757</p>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock content %}