{%extends 'hood/base.html' %}

{% block content %}
<div class="container">
  {% if request.user.is_staff %}
  <div class="row">
    <div class="col-md-6">
      <div class="card text-white card-top mb-3">
        <div class="card-header">Neighborhoods</div>
        <div class="card-body">
          <h5 class="card-title">{{ total_neighborhoods }}</h5>
        </div>
        <div class="card-footer">
          <a href="{% url 'create_hood' %}" class="btn btn-md btn-light">add neighbourhood</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card text-white card-top mb-3">
        <div class="card-header">Businesses</div>
        <div class="card-body">
          <h5 class="card-title">{{ total_businesses }}</h5>
        </div>
        <div class="card-footer">
          <a href="{% url 'create_business' %}" class="btn btn-md btn-light">add business</a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col-md-7">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Post Updates</h3>
        </div>
      </div>
      {% for post in posts %}
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{ post.title }}</h4>
          <p>{{ post.content }}</p>
          <p><small class="text-muted">Posted on {{ post.date_posted }} by {{ post.user.username }}</small></p>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Businesses</h3>
        </div>
      </div>
      {% for biz in businesses %}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ biz.business_name }}</h5>
          <p><small class="text-muted">{{ biz.neighborhood }}</small></p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}