{%extends 'hood/base.html' %}

{% block content %}
<div class="main">
  <div class="landing-page">
    <div class="logo text-center">
      <h1>HOOD WATCH</h1>
      <h3>Welcome to Hood Watch</h3>
      <h5 class="text-capitalize">Keep our neighbourhood safe. Be part of the community today!</h5>
      <div class="join">
        <a href="{% url 'admin_login' %}" class="btn btn-outline-info">Admin login</a>
        <a href="{% url 'login' %}" class="btn btn-outline-info">User login</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}